<!DOCTYPE html>
<html>
<head>

    <!-- Location of Vacation -->
    <title>Totel | <%= Vacation.country%></title>
    <h2 text-align: center>Your Recommended Vacation</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <bg-color: (,0,0,0)
    <div class="margin bg-warning text-dark"></div>

    <section class="parallax">
        <div class="parallax-inner">
            <!-- Location of Vacation -->
            <h1><%= Vacation.country%></h1>
        </div>
    </section>

    <h3>Hotels</h3>

    <div class="btns-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View Hotel Deals with Trivago
            </button>
            <div class="dropdown-menu">
              <!-- Trivago Link-->
              <a>
                <iframe 
                        width="1500"
                        height="425" 
                        src="https://www.trivago.com/?aDateRange%5Barr%5D=2019-07-26&aDateRange%5Bdep%5D=2019-07-27&aPriceRange%5Bfrom%5D=0&aPriceRange%5Bto%5D=0&iRoomType=7&aRooms%5B0%5D%5Badults%5D=2&cpt2=8%2F200&iViewType=0&bIsSeoPage=0&sortingId=1&slideoutsPageItemId=&iGeoDistanceLimit=16093&address=&addressGeoCode=&offset=0&ra=" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
               </a>
            </div>
          </div>

<br>
<br>
          <div class="btns-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  View Hotel Deals with Hotels.com
                </button>
                <div class="dropdown-menu">
                  <!-- AirBnb link to Website-->
                  <a>
                    <iframe                                                     
                            width="1500"
                            height="425" 
                            src="https://www.hotels.com/search.do?resolved-location=AIRPORT%3A1661140%3AUNKNOWN%3AUNKNOWN&f-distance=10.0&f-lid=1661140&destination-id=1661140&q-destination=Cairo,%20Egypt%20(CAI-Cairo%20Intl.)&q-check-in=2019-07-20&q-check-out=2019-07-21&q-rooms=1&q-room-0-adults=2&q-room-0-children=0&sort-order=DISTANCE_FROM_LANDMARK" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                   </a>
                </div>
              </div>

<br>
<br>

<div>
    <!-- Activites in Vacation Destination -->

    <h3>Activities</h3>
        <p>Activities in Egypt include viewing and touring the Pyramids and ancient structures as well as viewing museums with their vast varieties of artifacts and other wonders. If history isn't your niche then Egypt provides other activities from riding camels to taking a ride on the longest river in the world, the Nile. The local cruisine is phenomenal with famous dishes from Kebabs to Sharwema (A sandwhich with shredded beef, lamb or chicken meat, usually rolled in pita bread with tehina sauce.) </p>

</div>

<div>
        <h3>Restaraunts</h3>
        <!-- Restaraunts in Area -->
        <button id="search1" type="button" class="btn btn-secondary"> Local Restaraunts and Food</button>
        <script>
        var H = "Restaraunts in ";
        document.getElementById('search1').onclick = function() {
            window.open('http://google.com/search?q='+H);
        };
        </script>
    </div>
    
<div>
    <h3> Currency and Exchange Rate</h3>

</div>

    <button id="search" type="button" class="btn btn-secondary">Click for Currency Exchange</button>
<script>
var q = "exhange rate USD to ";
document.getElementById('search').onclick = function() {
    window.open('http://google.com/search?q='+q);
};
</script>

    <div class="margin"></div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer>
    &copy; Alex Wolfenden
</footer>
</html>
