<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Totel | Hivago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

 <!-- Slideshow Images link -->
 <script type="text/javascript">
    var image1 = new Image()
    image1.src = "../images/Athens.jpg"
    var image2 = new Image()
    image2.src = "../images/Dubai.jpg"
    var image3 = new Image()
    image3.src = "../images/Easter_Island.jpg"
    var image4 = new Image()
    image4.src = "../images/Egypt.jpg"
    var image5 = new Image()
    image5.src = "../images/Rio_de_Janiero.jpg"
    var image6 = new Image()
    image6.src = "../images/South_Africa.jpg"
    </script>

</head>
<body>
        <header id="ProfileHeader">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active text-light text-decoration-none" href="/home"><strong>Sign Out</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-decoration-none" href="/profile"><strong><%=user.firstName%></strong></a>
                    </li>
                </ul>
            </header>

    <background-imag>
            <img src="" width= "100%" height= "1200px" name="slide" />
            <script type="text/javascript">
                    var step=1;
                    function slideit()
                    {
                        document.images.slide.src = eval("image"+step+".src");
                        if(step<6)
                            step++;
                        else
                            step=1;
                        setTimeout("slideit()",3000);
                    }
                    slideit();
            </script>
    </background-imag>


    <div id="Profile" class="profilebox mx-auto text-center text-light">
            <h3>Favorites!</h3>
        <h2>Totel Destinations Profile</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa distinctio debitis quas. Vitae quidem sapiente ipsa, impedit nam voluptatem autem? Eius laboriosam labore molestiae dolorem obcaecati ut sint cum. Perferendis.</p>
        <a class="btn btn-success " href="survey" role="button">Take The Survey!</a>
            <h2>Favorite Destinations</h2>
        <ul class="profilebox mx-auto text-center text-light">
            <% if (FavToDo){%>
                <% for ( let i=0; i < FavToDo.length;  i++ ) { %>
                <li class="list-group-item" id="<%= FavToDo[i].id %>" ><%= FavToDo[i].locationID %></li>
                <% } %>
            <% } %>
        </ul>
        <a class="btn btn-success" href="/addDestination">Add a Favorite?</a>
    </div>
    </body>
    </html>

<!-- SlideShow Function
<p><img src=""  name="slide" /></p>
<script type="text/javascript">
        var step=1;
        function slideit()
        {
            document.images.slide.src = eval("image"+step+".src");
            if(step<6)
                step++;
            else
                step=1;
            setTimeout("slideit()",3000);
        }
        slideit();
</script> -->


