<!DOCTYPE html>
<html>
<head>
   <title>Survey</title>
   <h2 text-align: center>Fill out the Survey Questions to find your recommended Destination</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
       <form action="#" method="">
               <fieldset>
                   <legend>Which Culture do you Prefer?</legend>
                   <p><label class="choice"> <input type="radio" name="Culture" required value="Eastern"> Eastern </label></p>
                   <p><label class="choice"> <input type="radio" name="Culture" required value="Western"> Western </label></p>
                   </fieldset>
               <fieldset>
                   <legend>Which Climate would you like to visit?</legend>
                   <p><label class="choice"> <input type="radio" name="Climate" required value="Tropical">Tropical<br><j>A Warm and Typically humid Climate with warm temperatures throughout all seasons of the year</j> </label></p>
                   <p><label class="choice"> <input type="radio" name="Climate" required value="Moderate"> Moderate<br><j>A climate that has medium temperatures throughout the year that vary based on the season</j> </label></p>
                   <p><label class="choice"> <input type="radio" name="Climate" required value="Continental"> Continental<br><j>A climate that has colder temperatures and typically has a dry climate</j> </label></p>
                   </fieldset>
               <fieldset>
                   <legend>What location size would you like to visit?</legend>
                   <p><label class="choice"> <input type="radio" name="Population" required value="Large"> Large </label></p>
                   <p><label class="choice"> <input type="radio" name="Population" required value="Small"> Small </label></p>
                   </fieldset>
               <fieldset>
                   <legend>What price range can you afford for this vacation?</legend>
                   <p><label class="choice"> <input type="radio" name="Price" required value="Cheap"> $ </label></p>
                   <p><label class="choice"> <input type="radio" name="Price" required value="Medium"> $$ </label></p>
                   <p><label class="choice"> <input type="radio" name="Price" required value="Expensive"> $$$ </label></p>
                   </fieldset>
               <button type="input" class="btn btn-default">Find your tailored Destination</button>
           </form>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer>
   &copy; Totel Hivago
</footer>
</html>