<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Totel | Hivago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active text-danger text-decoration-none" href="/user/signup"><strong>Sign Up</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger text-decoration-none" href="/user/login"><strong>Login</strong></a>
            </li>
        </ul>
    </header>

<h2>YOU'VE BEEN BEANED</h2>
<ul class="profilebox mx-auto text-center text-light">
    <% if (Locations){%>
        <% for ( let i=0; i < Locations.length;  i++ ) { %>
        <li class="list-group-item mt-2 " id="<%= Locations[i].id %>" ><a href="/destination" class="text-danger text-decoration-none"><%= Locations[i].country %>, <%= Locations[i].city%></a></li>
        <% } %>
    <% } %>
</ul>


</body>
<footer>
    &copy; Totel
</footer>
</html>