body {
    background-color: #00e0ca;
}

h1 {
    background: url('../ninja-logo.png') no-repeat center;
    text-indent: -10000px;
    margin-bottom: 0;
}

.container {
    background-color: #0b8c7f;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.list-group-item {
    background-color: #01423c;
}

.btn {
    background-color: #f11421;
}

li:hover {
    text-decoration: line-through;
    background: rgb(0,0,0,0.2);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
.margin {
    margin: 75% 0;
}

.parallax1 {
    background: url("https://images.unsplash.com/photo-1508138221679-760a23a2285b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") repeat center fixed 100%;
}
.parallax {
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg")
        repeat fixed 100%;
}
.parallax-inner {
    padding-top: 25%;
    padding-bottom: 25%;
}
h1 {
    text-align: center;
    font-size: 1000%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font:italic;
}
h2 {
    text-align: center;
    font-size: 300%;
    color: white
}
h3 {
    text-align: left;
    font-size: 300%;
    color: white
}
p {
    font-size: 150%
}
body {
    background-color:#00e0ca
}

.btns {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration:currentColor;
  display: inline-block;
  font-size: 20px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration:currentColor;
    display: inline-block;
    font-size: 15px;
}

