body {
    background: url(https://wallpapercave.com/wp/aTDLz1T.jpg);
}

h1 {
    background: url('../ninja-logo.png') no-repeat center;
    text-indent: -10000px;
    margin-bottom: 0;
}

h3 {
    background: url('../img/totelmini.PNG') no-repeat center;
    text-indent: -10000px;
    margin-bottom: 0;
 }

.container {
    background-color: #000000;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.list-group-item {
    background-color: #0000007e;
}

.btn {
    background-color: #474242;
}

li:hover {
    
    background: rgba(241, 11, 11, 0.2);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
.margin {
    margin: 75% 0;
}

.parallax1 {
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg")
         repeat fixed 100%;
}
.parallax {
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg")
        repeat fixed 100%;
}
.parallax-inner {
    padding-top: 25%;
    padding-bottom: 25%;
}
h1 {
    text-align: center;
    font-size: 1000%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font:italic;
}
h2 {
    text-align: center;
    font-size: 300%;
    color: white;
}
h3 {
    text-align: center;
    font-size: 300%;
    color: white
}
p {
    font-size: 150%
}
body {
    background: url(https://wallpapercave.com/wp/aTDLz1T.jpg);
}

.btns {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration:currentColor;
  display: inline-block;
  font-size: 20px;
}

button {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration:currentColor;
    display: inline-block;
    font-size: 15px;
}

#Profile {
    position: absolute; 
    top: 400px; 
    right: 150px;
    left: 150px;
    width: 80%; 
    opacity: .8;
}

.profilebox {
    background-color: #000000;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

#ProfileHeader {
    background-color: #000000;
}

#HomeDiv {
    background-color: #000000;
}

#HomeButton {
    vertical-align: 20px;
}

legend {
    text-align: left;
    font-size: 200%;
    color: white
}

#surveybutton {
    background-color: white;
    border-width: 10px, 10px, 10px, 10px;
    border-color: #000000;
    color: #000000;
    padding: 10px 25px;
    text-align: center;
    text-decoration:currentColor;
    display: inline-block;
    font-size: 25px;
    margin-left:50px;
}

fieldset {
    margin-left: 50px;
}

#surveydiv {
    background-color: #757575;
    margin-left: 50px;
    width: 60%; 
    border-radius: 25px;
}

#SurveyHeader {
    text-align: center;
    font-size: 400%;
    color: white
}